body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFDD0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
h1{
  text-align: center;
}

.photo{
  display:flex;
  flex:1;
  width: 150px;  /* Adjust the size of the image */
  height: 150px; /* Maintain the aspect ratio */
  border-radius: 50%; /* Circular image */
  object-fit: cover; /* Ensures the image maintains aspect ratio */
  border: 3px solid #4caf50; /* Optional, border around the image */
}
.intro-para{
  display:flex;
  flex:2;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  
  width: 100%;
  
}