<html lang="en">
  <head>
    <title>My Portfolio</title>
    <style>
      *{
    margin: 0px;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
  }
 
 #header{
    background-color: rgb(136, 184, 229);
    color: rgb(34, 32, 42);
 }

 #navbar,.navbar-items{
    display: inline;
    color: rgb(255, 255, 255);
    padding: 15px
 }

 .head-text{
   text-align: center;
 }

 img{
  float: right;
  margin-right: 10px;
  margin-top: -20px;
 }

 #about-content{
  margin: 4px;
 }

 table,th,td{
  border: 1px solid black;
  padding:4px;
  text-align: center;
 }
 #feedback,#contact{

  text-align: center;
 }

 footer{
  background-color: rgb(136, 184, 229);
  color:rgb(34, 32, 42) ;
  text-align: center;
 }
    </style>
  </head>
  <body>
    <div id="header">
      <div class="head-text">
        <h1>
          Hi! I'm Sanya Dixit. 
        </h1>
        <p style="color: rgb(230, 230, 227);">Social Media Manager</p><br>
      </div>
        <nav>
          <ul id="navbar">
            <li class="navbar-items"><a href="#">Home</a></li>
            <li class="navbar-items"><a href="#about">About</a></li>
            <li class="navbar-items"><a href="#feedback">Feedback</a></li>
            <li class="navbar-items"><a href="#contact">Contact</a></li>
          </ul>
          
        </nav>
       
    </div>

    <!----about---->
<br>
    <div id="about">
        <div class="about-content">
          <h2 class="title-aboutme">About Me</h2> <img src="/images/profile.jpeg" width="170px" /><br>
          <p>
            This is Sanya, a passionate Social Media Manager with a keen eye
            for design and a love for creating social media content. I
            specialize in crafting engaging social media content
            using technologies like Figma, Canva, Adobe Express and Photoshop, VN, CapCut and Inshot.<br /><br>
            Explore the portfolio to see some of the recent posts that I have created!
          </p><br>

          <div class="about-content">
            <div>
              <h4><u>EDUCATION</u></h4><BR>
            </div>
            <div>
             <table> 
              <tr><th>Qualification</th>
              <th> Institute</th>
            <th>Year</th></tr>
            <tr><td>10th</td> <td> CBSE </td> <td> 2019-20</td></tr>
            <tr><td>12th</td> <td>CBSE</td> <td>2021-22</td></tr>
            <tr><td>B.Voc (Web Designing)</td> <td>University of Delhi</td> <td>2022-25</td></tr>
           </table>
            </div><br>
          </div>

          <div class="about-content">
            <div>
              <h4><u>SKILLS</u></h4>
            </div><br>
            <div >
              <ul>
                <li> <span> Canva </span> -  Advanced level</li>
                <li> <span> Figma </span> -  Beginner level</li>
                <li> <span> Adobe Express </span> -  Intermediate level</li>
                <li> <span> Adobe Photoshop </span> -  Beginner level</li>
                <li> <span> VN </span> -  Advanced level</li>
                <li> <span> CapCut </span> -  Intermediate level</li>
                <li> <span> Inshot </span> -  Advanced level</li>
               
              </ul>
            </div>
          </div><br>
          <div class="about-content">
              <h4><u>CERTIFICATES</u></h4>
            <div>
              <ul>
                <li>
                  Coursera<br />Social Media Marketing
                </li><br>
                <li>
                  Great Learning<br />Content Marketing
                </li><br>
                <li>
                  SEMrush<br />Seo Strategy
                </li><br>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
           
  
    <a href="/images/sanya resume.pdf" download> Download CV </a><br><br><hr><br>

    <!----feedbcak---->
    <div id="feedback">
        <h4 class="sub-title">FEEDBACK SECTION</h4><br>
        <div class="feedback-form">
          <form>
            <input type="text" name="Name" placeholder=" Name" required />
            <input
              type="email"
              name="email"
              placeholder=" Email"
              required
            />
            <textarea
              name="message"
              rows="1"
              placeholder="Your Message"
            ></textarea
            ><br /><br>
            <button type="submit" class="button">Submit</button>
          </form>
         
        </div>
    </div><br>
    <!------contact------>
    <div id="contact">
      <div >
        <h4 class="sub-title"><U>CONTACT INFO:</U></h4>
        <p>
         Email: dixitsanya9@gmail.com</p>  Phone no.: +91 9205749046<br><br>
       
  
    <footer class="copyright">
      <p>Copyright © Sanya</p>
    </footer>

  </body>
</html>
