/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: yellow;
    color: #333;
 }
 
 header {
    background-color: #333;
    color: #a90909;
    padding: 20px 0;
    text-align: center;
 }
 
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 
 nav ul li {
    display: inline;
    margin: 0 15px;
 }
 
 nav ul li a {
    color: blue;
    text-decoration: none;
 }
 
 section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
 }
 
 .project {
    margin-bottom: 15px;
 }
 
 footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
 }
  */